body {
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/*----------------------------------------nav-bar*/
header {
    background-color: #333;
    color: #fff;
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: center; /* Center items vertically */
    text-align: center;
}

.center {
    text-align: center;    
}

.logo {
    flex-grow: 1; /* Take up remaining space */
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #333;
    color: #333;
}

/* ------------------------------------hero-image */

.hero {
    position: relative;
    text-align: center;
    color: #fff;
}

.landing-image {
    position: relative;
    overflow: hidden;
    cursor: hidden;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    width: 100%;
}

.text-overlay h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.text-overlay p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.text-overlay a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/*----------------------footer*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#social-networks {
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 0;
    color: white;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .text-overlay h2 {
        font-size: 1.5em;
    }

    .text-overlay p {
        font-size: 1em;
    }

    .text-overlay a {
        padding: 8px 16px;
    }
}
